*{
    margin:0;
    padding:0;
}

body{
 
}
header{
    border:1px solid black;
    min-height:100px;
    padding:15px;
}
main {
    border:1px solid black;
    min-height:100px;
    padding:15px;
}
section{
    border:1px solid black;
    min-height:200px;

}
footer{
    border:1px solid black;
    min-height:100px;
}